* {
    text-decoration: none;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Roboto';
    src: url(./fonts/Roboto-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url(./fonts/Roboto-Medium.ttf);
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url(./fonts/Roboto-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
}

.top-line {
    background-color: #E5E5E5;
    padding-top: 17px;
    padding-bottom: 16px;
    margin-bottom: 20px;
}

.section {
    width: 1110px;
    margin: 0 auto;
}

.top {
    text-align: center;
}

.top-menu {
    display: inline-block;
    margin-right: 30px;
}

.pick {
    color: #333333;
    font-size: 14px;
    line-height: 16px;
}

.logo-info-left {
    float: left;
}

.clearfix {
    clear: both;
}

.logo {
    margin-right: 20px;
}

.logo-text {
    margin-top: 20px;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.1em;
    color: #F13C6E;
}

.logo-info-right {
    float: right;
    margin-top: 20px;
}

.right {
    float: left;
}

.text {
    line-height: 19px;
    color: #000000;
    margin-right: 40px;
    margin-top: 10px;
}

.call {
    border: 2px solid #F13C6E;
    border-radius: 40px;
    padding: 10px;
    line-height: 16px;
}

.menu {
    display: inline-block;
    margin-right: 40px;
}

.pick-menu {
    line-height: 19px;
    color: #000000;
}

.logo-info {
    margin-bottom: 50px;
}

.main-menu {
    margin-bottom: 30px;
}

.image-info {
    background-image: url(./images/Rectangle\ 2.png);
    height: 600px;
    width: 100%;
    position: fixed;
}

.information {
    color: #FFFFFF;
    width: 310px;
}

.header-information {
    margin-top: 190px;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 50px;
}

.text-information {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 50px;
}

.pick-information {
    border: 2px solid #FFFFFF;
    border-radius: 40px;
    padding: 15px 40px;
    display: inline-block;
    width: 170px;
}